* {
  color: hsl(0, 0, 88);
  font-family: Verdana;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr max-content 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "top top top"
    "content content content"
    "bottom bottom bottom";
}

.content {
  grid-area: content;
  justify-self: center;
  align-self: center;
  height: 100%;
}

.top {
  grid-area: top;
  animation: loadingInTopBar 2s;
}

.bottom {
  grid-area: bottom;
  animation: loadingInBottomBar 2s;
}

.bar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  a {
    transition: 0.4s;
    padding: 0 6vw;
    font-size: 18px;
    text-decoration: none;
    opacity: 1;
    &:hover {
      opacity: 0.5;
    }
  }
}

@keyframes loadingInTopBar {
  0% {
    transform: translate(0px, -100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes loadingInBottomBar {
  0% {
    transform: translate(0px, 100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
