<div class="conteiner">
  <div class="bar top">
    <a href="/home">Home</a>
    <a href="/aboutme">About me</a>
  </div>
  <div class="bar bottom">
    <a href="/more">More</a>
    <a href="/contact">Contact</a>
  </div>

  <div class="content">
    <ngx-typed-js
      [strings]="[
        'test',
        'hallo',
        'halo',
        'dreioausbdfiubgasidbnoigdsfbsodfouhbfeuiohuidbuisbvpjsodigbeiohsbiowhiBDFubugpeu3bugfi759bdu84bt9bnfdg9n657ztrbnig9ufbn4t90badagijjkn'
      ]"
      [loop]="true"
      [smartBackspace]="true"
      [typeSpeed]="100"
      [backSpeed]="100"
      [backDelay]="1000"
    >
      <span class="typing"></span>
    </ngx-typed-js>
  </div>
</div>
