* {
  color: hsl(0, 0, 88);
  font-family: Verdana;
}

.conteiner {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.content {
  position: absolute;
  top: 46%;
  animation: loadingInContent 3.6s;
}

.bar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;

  a {
    transition: 0.4s;
    padding: 0 4.5vw;
    font-size: 18px;
    text-decoration: none;
    opacity: 1;
    &:hover {
      opacity: 0.5;
    }
  }
}

.top {
  top: 0;
  animation: loadingInTopBar 2s;
}

.bottom {
  bottom: 0;
  animation: loadingInBottomBar 2s;
}

@keyframes loadingInTopBar {
  0% {
    transform: translate(0px, -100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes loadingInBottomBar {
  0% {
    transform: translate(0px, 100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes loadingInContent {
  0% {
    opacity: 0;
  }
  60% {
    transform: translate(0px, -40px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
