<div class="conteiner">
  <div class="bar top">
    <a href="/home">Home</a>
    <a href="/aboutme">About me</a>
  </div>
  <div class="bar bottom">
    <a href="/more">More</a>
    <a href="/contact">Contact</a>
  </div>

  <div class="content">
    <ngx-typed-js
      [strings]="typeString"
      [loop]="true"
      [smartBackspace]="true"
      [typeSpeed]="80"
      [backSpeed]="40"
      [backDelay]="1000"
      [startDelay]="4000"
    >
      <span class="typing"></span>
    </ngx-typed-js>
  </div>
</div>
